:root {
    --cor-de-fundo: blue;
    --cor-cabecalho: rgb(247, 241, 241);
    --fundo-menu: blue;
}
body {
    background-color: aliceblue;
}
.cabecalho {
    background-color:black;
}
.cabecalho-titulo {
    font-size: 130px;
    color: white;
    font-weight: 75800;
    padding: 15px;
    text-align: center;

}
.cabecalho-menu {
    display: block;
    padding: 50px;
    font-size: 80px;
    text-decoration: none;
    color:white;
    text-align:center;
    border-top: 10px solid;
    border-left: 10px solid;
    border-right: 10px solid;
}
.cabecalho-menu-item {
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: none ;
    color: rgb(238, 233, 233);
    text-align: center;
    border-top: 1px solid;
}
